---
const { href: link } = Astro.props;
---

<a href={link} target="_blank" class="flex items-center">
  <span
    class="text-xs font-medium me-2 px-2.5 py-0.5 rounded bg-gray-700 text-purple-400 border border-purple-400"
  >
    <slot />
  </span>
</a>
