---
interface Props {
  title: string;
  date: string;
  location: string;
}

const { title, date, location } = Astro.props;
---

<div
  class="grid grid-cols-5 lg:grid-cols-4 w-screen lg:w-[800px] my-5 px-10 lg:px-0"
>
  <div class="flex flex-col items-end col-span-2 lg:col-span-1 pt-1 pr-7">
    <div class="flex flex-row items-center justify-center gap-5 mb-5">
      <div
        class="flex items-center justify-center w-[120px] text-xs font-semibold uppercase"
      >
        {date}
      </div>
      <div class="w-[25px] h-[25px] bg-[--color-1] rounded-full"></div>
    </div>
    <div class="h-full border border-[--color-3] mr-[11px]"></div>
  </div>
  <div class="flex flex-col items-start justify-start col-span-3">
    <h2 class="m-0 text-2xl font-bold">{title}</h2>
    <p class="mb-[10px] text-base">{location}</p>
    <p class="m-0 text-sm"><slot /></p>
  </div>
</div>
