<footer class="w-screen px-5 lg:px-0 lg:w-[64rem] pb-5">
  <div
    class="w-full p-4 mx-auto border shadow md:flex md:items-center md:justify-between rounded-xl bg-white/5 border-white/10"
  >
    <span class="text-sm text-gray-300 sm:text-center"
      >© 2024 <a href="#" class="hover:underline">Andres Lopez</a>. All Rights
      Reserved.
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-300 sm:mt-0"
    >
      <li>
        <a href="#" class="hover:underline me-4 md:me-6">About</a>
      </li>
      <li>
        <a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a>
      </li>
      <li>
        <a href="#" class="hover:underline me-4 md:me-6">Licensing</a>
      </li>
      <li>
        <a href="#" class="hover:underline">Contact</a>
      </li>
    </ul>
  </div>
</footer>
