<header
  class="grid grid-cols-3 w-full justify-between min-h-36 m-0 mb-[-9rem] px-10 lg:px-14"
>
  <nav class="flex items-center justify-start">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="icon icon-tabler icon-tabler-menu"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M4 8l16 0"></path><path d="M4 16l16 0"></path></svg
    >
  </nav>
  <div class="flex items-center justify-center">
    <img class="w-40" src="/logo.png" alt="Logo" />
  </div>
  <div class="flex items-center justify-end">
    <button
      class="hidden items-center justify-center w-36 h-12 border border-white text-sm uppercase hover:border-purple-800 hover:text-purple-800 hover:bg-white transition lg:flex"
    >
      Contact Me
    </button>
  </div>
</header>
