---
import Badge from "./Badge.astro";
import SocialButton from "./SocialButton.astro";
import GitHub from "./icons/GitHub.astro";
import LinkedIn from "./icons/LinkedIn.astro";
import Instagram from "./icons/Instagram.astro";
import X from "./icons/X.astro";
---

<h1
  class="flex flex-row items-center my-5 text-5xl font-semibold gap-x-5 text-balance"
>
  Hey, I'm Andres
  <Badge href="https://www.linkedin.com/in/andreslopezco/">
    Available for hire
  </Badge>
</h1>
<h2 class="m-0 text-2xl text-pretty">
  Junior front-end developer based in Bogota, Colombia 🇨🇴, with a strong passion
  for creating functional and visually appealing websites.
</h2>
<nav class="flex mt-5 gap-x-2">
  <SocialButton href="https://github.com/andreslopezco/">
    <GitHub class="size-5" />
    GitHub
  </SocialButton>
  <SocialButton href="https://www.linkedin.com/in/andreslopezco/">
    <LinkedIn class="size-5" />
    LinkedIn
  </SocialButton>
  <SocialButton href="https://www.instagram.com/">
    <Instagram class="size-5" />
    Instagram
  </SocialButton>
  <SocialButton href="https://www.twitter.com/andreslopezco/">
    <X class="size-5" />
    Twitter
  </SocialButton>
</nav>
