---
interface Props {
  buttonURL: string;
}

const { buttonURL } = Astro.props;
---

<a
  class="flex flex-row items-center justify-center w-[160px] h-[40px] border border-[--color-3] hover:border-[--color-4] hover:text-[--color-4] text-sm uppercase transition"
  href={buttonURL}
  target="_blank"
>
  View Live
</a>
