<button
  class="relative inline-flex items-center justify-center h-12 px-6 overflow-hidden font-medium rounded-md group bg-neutral-950 text-neutral-200"
>
  <span>
    <slot />
  </span>
  <div
    class="absolute inset-0 flex h-full w-full justify-center [transform:skew(-12deg)_translateX(-100%)] group-hover:duration-1000 group-hover:[transform:skew(-12deg)_translateX(100%)]"
  >
    <div class="relative w-8 h-full bg-white/20"></div>
  </div>
</button>
