---
import LiveButton from "./LiveButton.astro";

interface Props {
  title: string;
  technologies: string;
  liveURL: string;
}

const { title, technologies, liveURL } = Astro.props;
---

<div class="w-full p-[30px] border border-[--color-3]">
  <p class="mb-5">
    andreslopezco<span class="text-[--color-1] font-semibold"> /&nbsp;</span>{
      title
    }
  </p>
  <p class="m-0 text-center text-sm">{technologies}</p>
  <div class="flex flex-row justify-around w-full mt-5">
    <LiveButton buttonURL={liveURL} />
  </div>
</div>
