---
import ProjectButton from "./ProjectButton.astro";

const { title, description, img, tags, link, github } = Astro.props;
---

<article
  class="flex flex-col gap-4 p-5 transition border rounded-xl bg-white/5 border-white/10 hover:scale-105 hover:bg-white/10"
>
  <h3 class="text-xl font-semibold">{title}</h3>
  <p class="text-base font-normal text-gray-300 text-pretty">{description}</p>
  <div class="flex flex-row flex-wrap gap-2">
    {
      tags.map((tag: unknown) => (
        <span class=" text-xs font-medium me-2 px-2.5 py-0.5 rounded bg-white/5 text-[--color-3] border border-white/10">
          {tag}
        </span>
      ))
    }
  </div>
</article>
