---
interface Props {
  id: string;
  class?: string;
}

const { id, class: className } = Astro.props;
---

<section
  id={id}
  class={`flex flex-col w-screen md:max-w-[740px] lg:max-w-[740px] mx-auto px-10 lg:px-0 ${className}`}
>
  <slot />
</section>
