---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div
  class="flex flex-col items-center justify-center w-40 h-40 p-5 bg-white text-black hover:scale-110 transition"
>
  <picture class="w-16 h-16">
    <slot />
  </picture>
  <p class="mt-3 text-center font-semibold">{title}</p>
</div>
