---
const { href } = Astro.props;
---

<a
  class="flex flex-row items-center justify-center px-4 py-2 transition border rounded-full gap-x-2 bg-black/5 dark:bg-white/5 dark:border-white/10 border-black/10 hover:scale-110 hover:bg-black/10 dark:hover:bg-white/10"
  href={href}
  target="_blank"
  rel="noopener noreferrer"
>
  <slot />
</a>
