---
import "@fontsource/poppins/100.css";
import "@fontsource/poppins/200.css";
import "@fontsource/poppins/300.css";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";
import "@fontsource/poppins/800.css";
import "@fontsource/poppins/900.css";
import Header from "../components/Header.astro";
import SocialArea from "../components/SocialArea.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="md:snap-mandatory md:snap-y">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div
      class="absolute top-0 z-[-2] h-screen w-screen bg-[--color-2] bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
    >
    </div>
    <Header />
    <SocialArea />
    <main>
      <slot />
    </main>
  </body>
</html>

<style is:global>
  :root {
    color-scheme: light dark;

    --color-1: #7e57c2;
    --color-2: #090c08;
    --color-3: #f1f2f6;
    --color-4: #baff29;
    --color-5: #f05d23;

    --color-github: #f1502f;
    --color-telegram: #1d98dc;
  }

  * {
    box-sizing: border-box;
    min-width: 0;
  }

  html {
    font-family: "Poppins", sans-serif;
  }

  body {
    background: var(--color-2);
    color: var(--color-3);
  }
</style>
