---
import "@fontsource/poppins/100.css";
import "@fontsource/poppins/200.css";
import "@fontsource/poppins/300.css";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";
import "@fontsource/poppins/800.css";
import "@fontsource/poppins/900.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href=/img/favicon.svg" />
    <title>{title}</title>
  </head>
  <body class="bg-[--color-2] text-[--color-3]">
    <div
      class="absolute top-0 z-[-2] h-full w-full bg-[--color-2] bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
    >
    </div>
    <Header />
    <main class="flex flex-col items-center">
      <slot />
      <Footer />
    </main>
  </body>
</html>

<style is:global>
  :root {
    color-scheme: dark;

    --color-1: #7e57c2;
    --color-2: #090c08;
    --color-3: #f1f2f6;
    --color-4: #baff29;
    --color-5: #f05d23;

    --color-github: #f1502f;
    --color-telegram: #1d98dc;
  }

  * {
    box-sizing: border-box;
    min-width: 0;
  }

  html {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
